<div class="complete"> 
<p id="notice"><%= notice %></p>

<p>
  <strong >Name:</strong>
  <%= @doctor.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @doctor.email %>
</p>

<p>
  <strong>Room:</strong>
  <%= @doctor.room %>
</p>

<p>
  <strong>Officeno:</strong>
  <%= @doctor.officeno %>
</p>

<p>
  <strong>Cellno:</strong>
  <%= @doctor.cellno %>
</p>

<p>
  <strong>Arrivaltime:</strong>
  <%= @doctor.arrivaltime %>
</p>

<p>
  <strong>Leavetime:</strong>
  <%= @doctor.leavetime %>
</p>


<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
</div>